In [41]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [3]:
connection = 'mysql://root:mypassword@localhost/db'

In [4]:
table = pd.read_sql('show tables', connection)

In [5]:
table

                 Tables_in_db
0                  w_activity
1                   w_article
2             w_bookmark_item
3       w_bookmark_item_label
4            w_bookmark_label
5          w_business_gallery
6            w_business_photo
7                  w_category
8                     w_chain
9            w_chain_category
10         w_chain_menu_group
11    w_chain_menu_group_item
12          w_chain_menu_item
13    w_checkin_activity_data
14           w_credit_history
15                   w_follow
16               w_menu_group
17          w_menu_group_item
18                w_menu_item
19                    w_photo
20            w_photo_gallery
21           w_photo_location
22            w_photo_product
23                  w_product
24                   w_rating
25     w_rating_activity_data
26                      w_ref
27                   w_region
28               w_restaurant
29       w_restaurant_alcohol
30      w_restaurant_category
31  w_restaurant_checkin_user
32  w_restaurant_neighborhood
33                   w_review
34             w_review_board
35      w_review_board_rating
36      w_review_board_review
37           w_review_comment
38         w_review_menu_item
39    w_review_official_reply
40           w_review_product
41            w_review_report
42          w_review_revision
43          w_review_suitable
44              w_review_vote
45                     w_user
46             w_working_hour

In [6]:
# Make a restaurant table containing its region and name

In [7]:
restaurant = pd.read_sql('select * from w_restaurant', connection)

In [8]:
restaurant.head()

,id,name,region_id,latitude,longitude,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,tmp_cdc_trigger,qr_code_accepted,premium,portrait_mode,portrait_mode_cover_photo_id,truemoney_wallet,likely_incorrect_business_location,gross_profit_enabled,gross_profit_deduction_ratio,gid
0,2,บ้านกลมกิ๊ก,46,13.739125,100.550231,3.0,1.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRLZBFIqLcDKjloifpkKcEHg'
1,3,โรงเบียร์เยอรมันตะวันแดง,132,13.842320,100.634959,3.0,3.0,1.0,1.0,0.0,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGQeqBPBEeI0J6Jm04G6Mqm'
2,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGC6ocPnSwVETjE2XZhvda9'
3,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB'
4,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,10,None,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r'

In [9]:
restaurant_neighborhood = pd.read_sql('select * from w_restaurant_neighborhood', connection)

In [10]:
restaurant_neighborhood.head()

   restaurant_id  neighborhood_id
0              4              224
1              5              233
2              5            54025
3              6              264
4              6            50694

In [11]:
restaurant = pd.merge(restaurant, restaurant_neighborhood, left_on='id', right_on='restaurant_id')

In [12]:
restaurant.head()

,id,name,region_id,latitude,longitude,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,premium,portrait_mode,portrait_mode_cover_photo_id,truemoney_wallet,likely_incorrect_business_location,gross_profit_enabled,gross_profit_deduction_ratio,gid,restaurant_id,neighborhood_id
0,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRGC6ocPnSwVETjE2XZhvda9',4,224
1,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB',5,233
2,5,Ho Kitchen Seafood,66,13.687334,100.550815,4.0,3.0,1.0,NaN,1.0,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRJLWFiUB4Etq73Kmuo29aIB',5,54025
3,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r',6,264
4,6,Barley Bistro & Bar,12642,13.726499,100.529425,3.0,3.0,1.0,NaN,NaN,...,b'\x00',b'\x00',NaN,None,b'\x00',b'\x00',0.0,b'09VwpBTRHtMQwuqvXXjCPSB1mbQ48r',6,50694

In [13]:
region = pd.read_sql('select * from w_region', connection)

In [14]:
region.head()

,id,name,latitude,longitude,number_of_businesses,parent_id,region_type,outdated,target_view_group,view_group_id,...,sponsored_logo_id,geohash,home_featured,time_zone_id,number_of_hotels,number_of_attractions,public_transport,currency_symbol,currency_iso,home_selectable
0,1,Bangkok,13.756331,100.501765,90610,8525.0,20,0,9681.0,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1086,1214,None,฿,THB,b'\x01'
1,2,Phra Nakhon,13.756024,100.498679,1975,1.0,30,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,81,118,None,฿,THB,b'\x00'
2,3,Phra Borom Maha Ratchawang,13.750548,100.493056,247,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,5,31,None,฿,THB,b'\x00'
3,4,Wang Burapha Phirom,13.745960,100.500085,331,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,3,16,None,฿,THB,b'\x00'
4,5,Wat Ratchabophit,13.749563,100.499382,71,2.0,40,0,NaN,9681.0,...,NaN,None,b'\x00',Asia/Bangkok,1,2,None,฿,THB,b'\x00'

In [15]:
restaurant = pd.merge(restaurant, region, left_on='neighborhood_id', right_on='id')

In [16]:
restaurant.head()

,id_x,name_x,region_id,latitude_x,longitude_x,price_range,parking,credit_card_accepted,good_for_groups,good_for_kids,...,sponsored_logo_id,geohash,home_featured,time_zone_id,number_of_hotels,number_of_attractions,public_transport,currency_symbol,currency_iso,home_selectable
0,4,Kosirae,180,13.724959,100.579726,3.0,1.0,1.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
1,33,ลูกไก่ทอง,180,13.733540,100.580945,2.0,3.0,1.0,1.0,1.0,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
2,34,บุญตงเกียรติ ข้าวมันไก่สิงคโปร์,180,13.734024,100.582718,2.0,0.0,0.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
3,43,A Garden Cafe and Restaurant,180,13.729987,100.576808,5.0,3.0,1.0,1.0,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'
4,47,All Senses,180,13.729964,100.577023,3.0,3.0,1.0,NaN,NaN,...,NaN,None,b'\x00',Asia/Bangkok,0,2,None,฿,THB,b'\x00'

In [17]:
user = pd.read_sql('select * from w_user', connection)

In [18]:
androidbool = (user['number_of_android_photos'] > 5) | (user['number_of_android_reviews'] > 5)
iphonebool = (user['number_of_iphone_photos'] > 5) | (user['number_of_iphone_reviews'] > 5)
android = user[androidbool]
iphone = user[iphonebool]
both = user[iphonebool & androidbool]

In [19]:
android.head()

,id,total_rating,total_number_of_reviews,one,two,three,four,five,number_of_likes,photo_number_of_likes,...,number_of_been_here,number_of_unread_challenge,verified_time,number_of_userschoice_review,total_number_of_sponsored_reviews,email_2,no_rating,gid,notify_contribution,notify_p_contribution
1,2,1310,294,1,14,130,181,17,3472,12461,...,8,0,2016-07-21,23,0,suparit@wongnai.com,0,b'09XiPECYIVzOCNSQmo8DGAxiNr6b9i',b'\x01',b'\x01'
2,3,989,228,1,2,66,125,44,1340,3547,...,18,0,2016-07-21,11,0,worawee.s@wongnai.com,0,b'09XiPECYHnLOdjEvXWWumLjuxE99xI',b'\x01',b'\x01'
4,5,723,189,1,5,67,106,15,713,1955,...,9,0,NaT,6,0,anontawong@wongnai.com,0,b'09XiPECYEJS3ErzZwJ0ILPXXexFAGQ',b'\x01',b'\x01'
13,14,4431,935,4,49,383,650,92,22551,149148,...,47,0,2016-07-21,88,0,pattrawoots@wongnai.com,0,b'09XiPECYDtDw5NUth32nUmLH7RV5iy',b'\x01',b'\x01'
47,48,0,0,0,0,0,0,0,0,63,...,0,0,NaT,0,0,ngubuz@gmail.com,0,b'09XiPECYEmdxtJ2WeOhwnnQDX6vTwD',b'\x01',b'\x01'

In [20]:
checkin = pd.read_sql('select * from w_restaurant_checkin_user', connection)

In [21]:
checkin.head()

,restaurant_id,user_id,latest_activity_id,latest_time,checkins,opt_lock,checkin_type
0,2,26544,33318631.0,2015-09-19 14:03:00,1,1,1
1,2,50372,41829663.0,2016-04-21 20:07:27,2,2,1
2,2,59911,21749871.0,2015-01-18 11:19:13,1,1,1
3,2,63048,20240965.0,2014-12-14 18:25:11,1,1,1
4,2,117819,19727053.0,2014-12-04 12:21:03,1,1,1

In [22]:
#merge android and checkin
android = pd.merge(android, checkin, left_on='id', right_on='user_id')
iphone = pd.merge(iphone, checkin, left_on='id', right_on='user_id')

In [23]:
android.sort_values('restaurant_id').head()

,id,total_rating,total_number_of_reviews,one,two,three,four,five,number_of_likes,photo_number_of_likes,...,gid,notify_contribution,notify_p_contribution,restaurant_id,user_id,latest_activity_id,latest_time,checkins,opt_lock_y,checkin_type
219633,2199316,6497,1751,5,120,687,675,296,32202,318682,...,None,b'\x01',b'\x01',2,2199316,60577681.0,2017-07-06 16:53:55,1,1,1
219544,2182656,95,24,0,2,4,11,7,12,42,...,None,b'\x01',b'\x01',2,2182656,42931174.0,2016-05-16 13:32:02,1,1,1
42500,117819,7135,1853,2,12,514,1088,239,63357,273205,...,b'09XiPECYMfMKbJKC0vK3qrQuGxrua2',b'\x01',b'\x01',2,117819,19727053.0,2014-12-04 12:21:03,1,1,1
75330,295561,2003,519,1,30,215,237,37,3230,9998,...,b'09XiPECYScCDcavMAbZRxd7XTMrkFA',b'\x01',b'\x01',2,295561,44173837.0,2016-06-10 12:23:04,1,1,1
169167,1119779,247,59,2,3,13,35,12,155,314,...,None,b'\x01',b'\x01',2,1119779,14421913.0,2014-08-13 12:18:44,1,1,1

In [24]:
android_restaurant = restaurant[restaurant['id_x'].isin(android['restaurant_id'])]

In [25]:
iphone_restaurant = restaurant[restaurant['id_x'].isin(iphone['restaurant_id'])]

In [26]:
android_region = region[region['id'].isin(android_restaurant['region_id'])]

In [27]:
android_region_freq = android_restaurant.groupby('region_id').size().reset_index()

In [28]:
android_region_freq.columns = ['region_id', 'frequency']

In [31]:
iphone_region = region[region['id'].isin(android_restaurant['region_id'])]

In [33]:
iphone_region_freq = iphone_restaurant.groupby('region_id').size().reset_index()

In [34]:
iphone_region_freq.columns = ['region_id', 'frequency']

In [58]:
iphone_region_freq = iphone_region_freq.sort_values('frequency', ascending=False)
iphone_region_freq = pd.merge(iphone_region_freq, iphone_region, left_on='region_id', right_on='id')

In [68]:
iphone_region_freq[['name', 'frequency']].to_excel('iphone_region_freq.xlsx', index=False)

In [64]:
android_region_freq = android_region_freq.sort_values('frequency', ascending=False)
android_region_freq = pd.merge(android_region_freq, android_region, left_on='region_id', right_on='id')

In [67]:
android_region_freq[['name', 'frequency']].to_excel('android_region_freq.xlsx', index=False)

In [74]:
len(android_region_freq.sort_values('region_id')['region_id'])

925