In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('resources/train.csv')

In [3]:
df.head()

   user_id  restaurant_id      type         timestamp
0        2          17782  check-in  17/10/2012 11:03
1     6219          22458  check-in  26/10/2012 14:34
2        3          54559  check-in  28/10/2012 13:06
3        4           3377  check-in  29/10/2012 20:21
4        4          27473  check-in  29/10/2012 20:56

In [6]:
temp = df.groupby(['restaurant_id']).size()
drop_index = temp.loc[temp.values > 50].index.array
df = df.loc[df['restaurant_id'].isin(drop_index)]

In [4]:
df['score'] = df.apply(lambda row: 2 if row['type']=='check-in' else 1 , axis = 1)

In [5]:
train_data = df.drop(columns=['type','timestamp'])

In [2]:
def calculate_score(df):
    return df['score'].sum()

In [7]:
temp = train_data.groupby(['restaurant_id','user_id']).apply(calculate_score)

In [8]:
temp = pd.DataFrame(temp).reset_index()

In [9]:
temp.columns = ['restaurant_id', 'user_id', 'score']

In [10]:
temp.to_csv(path_or_buf='resources/filtered_train.csv', index=False)