In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [2]:
query = open('../datasci_project_2019_wongnaidb_20190305_v2.sql', 'r')

In [6]:
connection = 'mysql://root:@Bk022115470@localhost/db'

In [4]:
# I got a lot of problems before being able to use this :( "pip3 install mysqlclient" might help
# df = pd.read_sql('select * from w_user', connection)

In [7]:
table = pd.read_sql('show tables', connection)

In [8]:
table['Tables_in_db'].values

array(['w_activity', 'w_article', 'w_bookmark_item',
       'w_bookmark_item_label', 'w_bookmark_label', 'w_business_gallery',
       'w_business_photo', 'w_category', 'w_chain', 'w_chain_category',
       'w_chain_menu_group', 'w_chain_menu_group_item',
       'w_chain_menu_item', 'w_checkin_activity_data', 'w_credit_history',
       'w_follow', 'w_menu_group', 'w_menu_group_item', 'w_menu_item',
       'w_photo', 'w_photo_gallery', 'w_photo_location',
       'w_photo_product', 'w_product', 'w_rating',
       'w_rating_activity_data', 'w_ref', 'w_region', 'w_restaurant',
       'w_restaurant_alcohol', 'w_restaurant_category',
       'w_restaurant_checkin_user', 'w_restaurant_neighborhood',
       'w_review', 'w_review_board', 'w_review_board_rating',
       'w_review_board_review', 'w_review_comment', 'w_review_menu_item',
       'w_review_official_reply', 'w_review_product', 'w_review_report',
       'w_review_revision', 'w_review_suitable', 'w_review_vote',
       'w_user', 'w_working_hour'], dtype=object)

In [9]:
count = 1
for i in table['Tables_in_db'].values:
    print(str(count) + " out of " + str(len(table['Tables_in_db'].values)))
    df = pd.read_sql('select * from ' + i, connection)
    df.to_csv(path_or_buf='resources/' + i + '.csv', index=False)
    count = count + 1

1 out of 47
2 out of 47
3 out of 47
4 out of 47
5 out of 47
6 out of 47
7 out of 47
8 out of 47
9 out of 47
10 out of 47
11 out of 47
12 out of 47
13 out of 47
14 out of 47
15 out of 47
16 out of 47
17 out of 47
18 out of 47
19 out of 47
20 out of 47
21 out of 47
22 out of 47
23 out of 47
24 out of 47
25 out of 47
26 out of 47
27 out of 47
28 out of 47
29 out of 47
30 out of 47
31 out of 47
32 out of 47
33 out of 47
34 out of 47
35 out of 47
36 out of 47
37 out of 47
38 out of 47
39 out of 47
40 out of 47
41 out of 47
42 out of 47
43 out of 47
44 out of 47
45 out of 47
46 out of 47
47 out of 47